body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding-left: 70px;
    padding-right: 40px;
}

.navbar {
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: grey;
}

.nav-center {
    margin: auto;
    text-align: center;
}

.nav-item {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.socmed {
    margin-right: 15px;
    width: 23px;
    height: 23px;
}

.home {
    margin-top: 350px;
    margin-left: 170px;
}

.name {
    font-size: 5em;
    font-weight: bold;
}

.position {
    font-size: 2em;
    font-weight: bold;
}